@import '~bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}

textarea {
    resize: none;
}