@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

/************************************************
    CUSTOM PROPERTIES
************************************************/


:root {

    /**
    * typography
    */
    --fs-1: 2em;
    --fs-2: calc(1.813rem + 1vw);
    --fs-3: calc(1.313rem + 1vw);
    --fs-4: 1.4rem;
    --fs-5: 1rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;

    --fw-400: 400;
    --fw-700: 700;

     /**
    * color
    */

    --yellow: #FFCF0E; 
    --aqua: #28ACEC;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES & UTILITIES
*************************************************/

.color-logo {
    color:var(--yellow);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-aqua {
    background-color: var(--aqua);
}

.br-none{

    display: none;
}

/************************************************
    SITE SECTIONS
************************************************/

/* 
    ?LOGIN & REGISTER
*/


.bg-guest {
    min-height: 100vh;
    background-image: url('../img/file-img-png/background-page-login/pagina-login-completa.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fs-s-7 {
    font-size: var(--fs-7);
}
.fs-s-6{
    font-size: var(--fs-6);
}
.fs-input {
    font-size: var(--fs-7);
}

.logo_laravel {
    width: 200px;
}

.logo-mt {
    width: 50px;
    height: 50px;
}

.custom-title {
    max-width: 300px;
    margin: 0 auto;
}

/************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY MOBILE-FIRST
************************************************/

/* EXTRA SMALL Stile per schermi piccoli */
@media screen and (max-width: 600px) {

    /* COLUMNS */




}

/*SMALL Stile Per tablet */
@media screen and (min-width: 600px){
    
    /*  COLUMNS  */
    

}

/*MEDIUM Stile Per Landscapes tablet */
@media screen and (max-width: 768px){
     
    /*  COLUMNS  */

    .margin-xy {
        margin: 0 30px 20px 30px;
    }

}


/*LARGE Stile Per LAPTOPS/DESKTOPS */
@media screen and (max-width: 992px){
     
    /*  COLUMNS  */

    .none ,
    .none-two {
        display: none;
    }

    .br-none {

        display: inline;
    }


}

/*EXTRA LARGE Stili per DesktopS */
@media screen and (min-width:1200px){

    /*  COLUMNS  */

    .width-100 {
        width: 800px;
    }
}

/*************************************************
    DEBUG
*************************************************/

